*{
    font-size:20px;
    font-weight:700;
}

.icons{
    cursor: pointer;
    margin-right: 20px;
}

.table{
    border: 2px solid black;
    max-width: 1000px;
    margin: auto;
    margin-top: 80px;
    font-size:20px;
    background-color: grey;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color:black;
    font-size:20px;

}
.sortIcon{
    font-size: 18px;
    cursor: pointer;
}
